@model IEnumerable<WebTraSua.Models.AnhSP>
@{
	ViewBag.Title = "AnhSP";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">

	<!-- Main content -->
	<section class="content my-5">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">

				<div class="row">
					<div class="col-md-6">
						<strong>ẢNH SẢN PHẨM</strong>
					</div>
					<div class="col-md-6 text-right">
						<a href="@Url.Action("Index","SanPhams")" class="btn btn-primary">
							<i class="fas fa-file-export"></i>
							Về danh sách
						</a>
					</div>
				</div>
				<div class="card-body">
					<table class="table table-bordered table-striped">
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.Anh.MaA)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.SanPham.MaSP)
							</th>
							<th>
								Tên ảnh sản phẩm
							</th>
							<th>
								Hình ảnh sản phẩm
							</th>
						</tr>

						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Anh.MaA)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.SanPham.MaSP)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TenASP)
								</td>
								<td>
									<img src="@item.urlimg" class="img-size-64" />
								</td>
							</tr>
						}

					</table>
				</div>
			</div>

		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>

