@model WebTraSua.Models.SanPham


@{
	ViewBag.Title = "Thêm sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Thêm sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							<button type="submit" name="Create" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
								</svg>
								Thêm sản phẩm
							</button>
							<a href="@Url.Action("Index","SanPhams")" class="btn btn-primary">
								<i class="fas fa-file-export"></i>
								Về danh sách
							</a>
						</div>
					</div>

				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-9">
							<div class="form-group">
								<label>Mã sản phẩm<span class="text-danger">(*)</span></label>
								@Html.EditorFor(model => model.MaSP, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
								<label>Tên sản phẩm<span class="text-danger">(*)</span></label>
								@Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
								<label>Mô tả sản phẩm</label>
								@Html.TextAreaFor(model => model.MotaSP, new { @class = "form-control", @rows = "5" })
								@Html.ValidationMessageFor(model => model.MotaSP, "", new { @class = "text-danger" })
							</div>

						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label>Mã danh mục</label>
								@Html.DropDownList("MaDM", null, htmlAttributes: new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.MaDM, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
								<label>Trạng thái sản phẩm</label>
								@Html.DropDownListFor(model => model.TrangThaiSP, (SelectList)ViewBag.listTrangThaiSP, "Trạng thái sản phẩm", new { @class = "form-control" })
								@Html.ValidationMessageFor(model => model.TrangThaiSP, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
								<label>Giá sản phẩm<span class="text-danger">(*)</span></label>
								@Html.EditorFor(model => model.GiaBanSP, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.GiaBanSP, "", new { @class = "text-danger" })
							</div>

							<div class="form-group">
								<label>Ngày khuyến mại</label>
								@Html.EditorFor(model => model.KhuyenMaiSP, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.KhuyenMaiSP, "", new { @class = "text-danger" })
							</div>

						</div>

					</div>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->




}
