@model WebTraSua.Models.SanPham

@{
	ViewBag.Title = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Xóa sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							<input type="submit" value="Delete" class="btn btn-danger" />
							<a href="@Url.Action("Index","SanPhams")" class="btn btn-primary">Quay lại</a>
						</div>
					</div>

				</div>
				<div class="card-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.DanhMuc.TenDM)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.DanhMuc.TenDM)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.TenSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TenSP)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.MotaSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.MotaSP)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.GiaBanSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.GiaBanSP)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.ChiTietSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.ChiTietSP)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.TrangThaiSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TrangThaiSP)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.KhuyenMaiSP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.KhuyenMaiSP)
						</dd>

					</dl>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->	
}
