@model WebTraSua.Models.SanPham

@{
	ViewBag.Title = "Thông tin sản phẩm";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

	<!-- Main content -->
	<section class="content my-5">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">

				<div class="row">
					<div class="col-md-6">
						<strong>Thông tin chí tiết sản phẩm</strong>
					</div>
					<div class="col-md-6 text-right">
						@Html.ActionLink("Sửa", "Edit", new { id = Model.MaSP }, new { @class = "btn btn-primary" })
						<a href="@Url.Action("Index","SanPhams")" class="btn btn-primary">
							<i class="fas fa-file-export"></i>
							Về danh sách
						</a>
					</div>
				</div>

			</div>
			<div class="card-body">

				<table class="table table-bordered table-striped" >

					<tr>
						<th>
							@Html.DisplayNameFor(model => model.MaSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.MaSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.MaDM)
						</th>
						<td>
							@Html.DisplayFor(model => model.MaDM)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.TenSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.TenSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.MotaSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.MotaSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.GiaBanSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.GiaBanSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.ChiTietSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.ChiTietSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.TrangThaiSP)
						</th>
						<td>
							@Html.DisplayFor(model => model.TrangThaiSP)
						</td>
					</tr>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.NgayNhap)
						</th>
						<td>
							@Html.DisplayFor(model => model.NgayNhap)
						</td>
					</tr>



				</table>
			</div>

		</div>

		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
