@model WebTraSua.Models.DanhMuc

@{
	ViewBag.Title = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Xóa sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							<input type="submit" value="Xóa" class="btn btn-danger" />
							<a href="@Url.Action("Index","DanhMucs")" class="btn btn-primary">Quay lại</a>
						</div>
					</div>

				</div>
				<div class="card-body">
					<table class="table table-bordered table-striped">

						<tr>
							<th>
								@Html.DisplayNameFor(model => model.MaDM)
							</th>
							<td>
								@Html.DisplayFor(model => model.MaDM)
							</td>
						</tr>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.TenDM)
							</th>
							<td>
								@Html.DisplayFor(model => model.TenDM)
							</td>
						</tr>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.MotaDM)
							</th>
							<td>
								@Html.DisplayFor(model => model.MotaDM)
							</td>
						</tr>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.TrangThaiDM)
							</th>
							<td>
								@Html.DisplayFor(model => model.TrangThaiDM)
							</td>
						</tr>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.NgayTao)
							</th>
							<td>
								@Html.DisplayFor(model => model.NgayTao)
							</td>
						</tr>



					</table>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
}