@model WebTraSua.Models.DanhMuc

@{
	ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

	<!-- Main content -->
	<section class="content my-5">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">

				<div class="row">
					<div class="col-md-6">
						<strong>Thông tin danh mục</strong>
					</div>
					<div class="col-md-6 text-right">
						@Html.ActionLink("Sửa", "Edit", new { id = Model.MaDM }, new { @class = "btn btn-primary" })
						<a href="@Url.Action("Index","DanhMucs")" class="btn btn-primary">
							<i class="fas fa-file-export"></i>
							Về danh sách
						</a>
					</div>
				</div>

			</div>
			<div class="card-body">
				<dl class="dl-horizontal">
					<dt>
						@Html.DisplayNameFor(model => model.TenDM)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.TenDM)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.MotaDM)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.MotaDM)
					</dd>

					<dt>
						@Html.DisplayNameFor(model => model.NgayTao)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.NgayTao)
					</dd>
					<dt>
						@Html.DisplayNameFor(model => model.TrangThaiDM)
					</dt>

					<dd>
						@Html.DisplayFor(model => model.TrangThaiDM)
					</dd>
				</dl>
			</div>
		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->