@model IEnumerable<WebTraSua.Models.DanhMuc>

@{
	ViewBag.Title = "Danh mục";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

	<!-- Main content -->
	<section class="content my-5">

		<!-- Default box -->
		<div class="card">
			<div class="card-header">

				<div class="row">
					<div class="col-md-6">
						<strong>Danh Mục</strong>
					</div>
					<div class="col-md-6 text-right">
						<a class="btn btn-sm btn-primary" href="@Url.Action("Create","DanhMucs")">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
								<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
							</svg> Thêm
						</a>
					</div>
				</div>

			</div>
			<div class="card-body">
				<table class="table table-bordered table-striped ">
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.MaDM)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TenDM)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.NgayTao)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TrangThaiDM)
						</th>
						<th></th>
					</tr>

					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.MaDM)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TenDM)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.NgayTao)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TrangThaiDM)
							</td>
							<td>
								<a class="btn btn-sm btn-primary" href="@Url.Action("Edit","DanhMucs", new { id = item.MaDM })"> Sữa</a>
								<a class="btn btn-sm btn-secondary" href="@Url.Action("Details","DanhMucs", new { id = item.MaDM })"> Chi tiết</a>
								<a class="btn btn-sm btn-danger" href="@Url.Action("Delete","DanhMucs", new { id = item.MaDM })">Xóa</a>
							</td>
						</tr>
					}

				</table>
			</div>
		</div>
		<!-- /.card -->
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->
