@model WebTraSua.Models.NguoiDung

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NguoiDung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiTinhND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinhND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoaiND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoaiND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaND }) |
    @Html.ActionLink("Back to List", "Index")
</p>
