@model WebTraSua.Models.AnhSP

@{
	ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Thêm ảnh sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							@Html.ActionLink("Back to List", "Index")
						</div>
					</div>

				</div>
				<div class="card-body">

					<div class="form-group">
						@Html.LabelFor(model => model.MaSP, "MaSP", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.MaSP, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.MaA, "MaA", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.DropDownList("MaA", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.MaA, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.TenASP, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.TenASP, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TenASP, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Create" class="btn btn-default" />
						</div>
					</div>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
}


