@model WebTraSua.Models.AnhSP

@{
	ViewBag.Title = "Delete";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Xóa ảnh sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							@Html.ActionLink("Back to List", "Index")
						</div>
					</div>

				</div>
				<div class="card-body">
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Anh.DuongDan)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Anh.DuongDan)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.SanPham.MaDM)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.SanPham.MaDM)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.TenASP)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.TenASP)
						</dd>

					</dl>


					<div class="form-actions no-color">
						<input type="submit" value="Delete" class="btn btn-default" /> |
					</div>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
}
