@model WebTraSua.Models.AnhSP

@{
	ViewBag.Title = "Edit";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Main content -->
		<section class="content my-5">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">

					<div class="row">
						<div class="col-md-6">
							<strong>Sửa sản phẩm</strong>
						</div>
						<div class="col-md-6 text-right">
							<input type="submit" value="Sửa" class="btn btn-primary" />
							<a href="@Url.Action("Index","AnhSPs")" class="btn btn-primary">
								<i class="fas fa-file-export"></i>
								Về danh sách
							</a>
						</div>
					</div>

				</div>
				<div class="card-body">


					<div class="form-group">
						@Html.LabelFor(model => model.SanPham.MaSP, "MaSP", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.DropDownList("MaSP", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.SanPham.MaSP, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						@Html.LabelFor(model => model.Anh.MaA, "MaA", htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.DropDownList("MaA", null, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Anh.MaA, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.TenASP, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.TenASP, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TenASP, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label>Đường dẫn</label>
						<div class="col-md-10">
							@Html.EditorFor(model => model.urlimg, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.urlimg, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label>Image</label>
						<div class="col-md-10">
							@Html.TextBox("fileImage", "", new { type = "file", accept = "Imgage/*" })
							<br />
							<img id="preview" src="#" width="150" height="100" class="hidden" />

						</div>
					</div>
				</div>
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
}
